.git
.github
.vscode
.idea

node_modules
vendor

public/build
public/hot
bootstrap/ssr
bootstrap/cache/*.php

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
database/database.sqlite

tests
.env
.env.*
!.env.example

*.md
